SFM/data/fountain-P11/matches/
SFM/data/fountain-P11/features/**

SFM/data/castle-P19/matches/
SFM/data/castle-P19/features/ORB/
SFM/data/castle-P19/features/SIFT/
SFM/data/castle-P19/features/SURF/

SFM/data/castle-P30/matches/
SFM/data/castle-P30/features/ORB/
SFM/data/castle-P30/features/SIFT/
SFM/data/castle-P30/features/SURF/

SFM/data/entry-P10/matches/
SFM/data/entry-P10/features/ORB/
SFM/data/entry-P10/features/SIFT/
SFM/data/entry-P10/features/SURF/

SFM/data/Herz-Jesus-P8/matches/
SFM/data/Herz-Jesus-P8/feature/ORB/
SFM/data/Herz-Jesus-P8/features/SIFT/
SFM/data/Herz-Jesus-P8/features/SURF/

SFM/data/Herz-Jesus-P25/matches/
SFM/data/Herz-Jesus-P25/feature/ORB/
SFM/data/Herz-Jesus-P25/features/SIFT/
SFM/data/Herz-Jesus-P25/features/SURF/